<!--
    for accounts templates
    accounts/template/accounts/confirm_delete.html
-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Delete</title>
    <link rel="stylesheet" href="{% static 'member_style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Are you sure you want to delete {{ user.full_name }}?</h2>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn delete">Yes, Delete</button>
            <a href="{% url 'member-list' %}" class="btn back">Cancel</a>
        </form>
    </div>
</body>
</html>
